@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.template {
  background-image: url("../maquettes/Accueil.png");
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 0.7;
  background-position: top center; }

.template-menu {
  background-image: url("../maquettes/Menu - A la francaise.png");
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 0.7;
  background-position: top center; }

/*@include bg-linear();*/
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeInBg {
  from {
    background-color: white; }
  to {
    background-color: #ececec; } }
@keyframes animation-loader {
  to {
    transform: rotate(1turn); } }
@keyframes fadeOut-loader {
  0% {
    opacity: 1;
    z-index: 1; }
  90% {
    opacity: 1;
    z-index: 1; }
  100% {
    opacity: 0;
    display: none;
    z-index: -2; } }
@keyframes fadeIn-page {
  from {
    opacity: 0;
    z-index: -3; }
  80% {
    opacity: 0;
    z-index: auto; }
  to {
    opacity: 1;
    z-index: auto; } }
section.menu article#starter-dish {
      /*
      a.dish {
        &:nth-child(2) {
          animation-delay: 4.5s;
        }

        &:nth-child(3) {
          animation-delay: 9s;
        }

        &:nth-child(4) {
          animation-delay: 13.5s;
        }
      }
      */ }
  section.menu article#starter-dish a.dish:nth-child(2) {
    animation-delay: 3s; }
  section.menu article#starter-dish a.dish:nth-child(3) {
    animation-delay: 3.5s; }
  section.menu article#starter-dish a.dish:nth-child(4) {
    animation-delay: 4s; }
section.menu article#main-dish {
      /*
      a.dish {
        &:nth-child(2) {
          animation-delay: 6.5s;
        }

        &:nth-child(3) {
          animation-delay: 13s;
        }

        &:nth-child(4) {
          animation-delay: 19.5s;
        }
      }
      */ }
  section.menu article#main-dish a.dish:nth-child(2) {
    animation-delay: 5s; }
  section.menu article#main-dish a.dish:nth-child(3) {
    animation-delay: 5.5s; }
  section.menu article#main-dish a.dish:nth-child(4) {
    animation-delay: 6s; }
section.menu article#dessert-dish {
      /*
      a.dish {
        &:nth-child(2) {
          animation-delay: 8.5s;
        }

        &:nth-child(3) {
          animation-delay: 17s;
        }

        &:nth-child(4) {
          animation-delay: 25.5s;
        }
      }
      */ }
  section.menu article#dessert-dish a.dish:nth-child(2) {
    animation-delay: 7s; }
  section.menu article#dessert-dish a.dish:nth-child(3) {
    animation-delay: 7.5s; }
  section.menu article#dessert-dish a.dish:nth-child(4) {
    animation-delay: 8s; }

a.like {
  text-decoration: none;
  background: none; }
  a.like i.fa-heart {
    user-select: none;
    pointer-events: none;
    font-weight: 400;
    color: black;
    /*background: white;*/
    transition: all 1s linear; }
  a.like:active i.fa-heart, a.like:hover i.fa-heart, a.like:visited i.fa-heart {
    font-weight: 900;
    background: #9356DC;
    background: -moz-linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
    background: -webkit-linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
    background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
    -webkit-background-clip: text;
    /*-moz-background-clip: text;
    background-clip: text;*/
    -webkit-text-fill-color: transparent; }

button {
  border-radius: 30px;
  color: white;
  font-size: 16px;
  border: none;
  background: #9356DC;
  background: -moz-linear-gradient(#FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(#FF79DA 0%, #9356DC 100%);
  background: linear-gradient(#FF79DA 0%, #9356DC 100%);
  box-shadow: 0 0 20px #00000026;
  cursor: pointer;
  transition: background-color 1s;
  white-space: nowrap; }
  button:hover {
    color: white;
    background: #a16be0;
    background: -moz-linear-gradient(#ff93e1 0%, #a16be0 100%);
    background: -webkit-linear-gradient(#ff93e1 0%, #a16be0 100%);
    background: linear-gradient(#ff93e1 0%, #a16be0 100%);
    box-shadow: 0 0 20px #0000008a; }

.etc {
  /*line-height: 1.6rem;
  max-height: 1.6rem;*/
  max-height: 2.2rem;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  /*Chrome*/
  /*  @supports (display: -webkit-box) {
      display: -webkit-box;
    }*/
  /*Firefox*/
  /* @supports (-moz-box-orient: vertical) {
     -moz-box-orient: vertical;
   }*/
  /*
  @supports (box-orient: vertical) {
    box-orient: vertical;
  }*/ }
@-moz-document url-prefix() {
  .etc {
    display: block; } }
  @supports (-webkit-line-clamp: 1) {
    .etc {
      -webkit-line-clamp: 1; } }
  @supports (-webkit-box-orient: vertical) {
    .etc {
      -webkit-box-orient: vertical; } }

/* IE and Edge */
/*@supports (-ms-ime-align:auto) {*/
@supports (-ms-overflow-style: none) {
  body {
    -ms-overflow-style: none; } }
/* Firefox */
@-moz-document url-prefix() {
  @supports (scrollbar-width: none) {
    body {
      scrollbar-width: none; } } }
/*Chrome & Safari*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body::-webkit-scrollbar {
    display: none;
    width: 0px; } }
body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll; }
  @media only screen and (max-width: 375px) {
    body {
      overflow-x: scroll;
      width: 375px; } }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px; }
  header div#logo {
    margin-top: 14px; }
    header div#logo svg {
      width: 164px;
      height: 41px; }
    header div#logo a {
      float: left;
      margin: 9px -82px;
      font-size: 17px;
      color: black; }

footer {
  /*justify-content: center;*/
  display: flex;
  max-width: 100%;
  /*width: 379px;*/
  /*margin: 31px auto 0;*/
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
  height: 199px;
  background-color: #353535;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0; }
  footer .footer {
    height: 193px;
    padding: 0rem 0; }
    footer .footer h2 {
      font-size: 18px;
      line-height: 16px;
      margin: 26px 23px;
      font-family: 'Shrikhand', cursive;
      color: white; }
    footer .footer .lien {
      display: block;
      margin: 5px 25px;
      text-decoration: none;
      color: white; }
      footer .footer .lien i {
        padding: 10px;
        margin: -3px -1px 1px -10px;
        line-height: 0;
        color: white;
        font-size: 17px; }
  @media only screen and (min-width: 768px) {
    footer .footer {
      margin: auto auto;
      width: 1000px; }
      footer .footer .lien {
        display: inline-block;
        margin: 5px 25px; } }
  @media only screen and (min-width: 1200px) {
    footer .footer .lien:nth-child(2) {
      margin-left: 250px; } }

header, main, footer {
  -webkit-animation-name: fadeIn-page;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: fadeIn-page;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-direction: normal;
  -moz-animation-fill-mode: forwards;
  animation-name: fadeIn-page;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-fill-mode: forwards; }

.loader {
  width: 20em;
  height: 20em;
  font-size: 10px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100px;
  left: calc(50% - 10em);
  -webkit-animation-name: fadeOut-loader;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: fadeOut-loader;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-direction: normal;
  -moz-animation-fill-mode: forwards;
  animation-name: fadeOut-loader;
  animation-delay: 0s;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-fill-mode: forwards;
  /* @include rotate($degrees);*/ }
  .loader .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    -webkit-animation-name: animation-loader;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: animation-loader;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-direction: normal;
    -moz-animation-fill-mode: forwards;
    animation-name: animation-loader;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /*animation-name: animation-loader;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;*/ }
    .loader .face:nth-child(1) {
      width: 100%;
      height: 100%;
      color: #9356DC;
      border-color: currentColor transparent transparent currentColor;
      border-width: 0.2em 0.2em 0em 0em;
      /*--deg: -45deg;*/
      -webkit-animation-direction: normal;
      -moz-animation-direction: normal;
      animation-direction: normal; }
      .loader .face:nth-child(1) .circle {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .loader .face:nth-child(2) {
      width: 70%;
      height: 70%;
      color: #FF79DA;
      border-color: currentColor currentColor transparent transparent;
      border-width: 0.2em 0em 0em 0.2em;
      /*--deg: -135deg;*/
      -webkit-animation-direction: reverse;
      -moz-animation-direction: reverse;
      animation-direction: reverse; }
      .loader .face:nth-child(2) .circle {
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        transform: rotate(-135deg); }
    .loader .face .circle {
      position: absolute;
      width: 50%;
      height: 0.1em;
      top: 50%;
      left: 50%;
      background-color: transparent;
      /*transform: rotate(var(--deg));*/
      transform-origin: left; }
      .loader .face .circle::before {
        position: absolute;
        top: -0.5em;
        right: -0.5em;
        content: '';
        width: 1em;
        height: 1em;
        background-color: currentColor;
        border-radius: 50%;
        box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em, 0 0 0 0.5em rgba(255, 255, 0, 0.1); }

main {
  justify-content: center;
  height: 1973px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }
  main section.location {
    width: 100%;
    height: 335px;
    background-color: #f9f7f7; }
    main section.location div.infoposition {
      height: 50px;
      background-color: #ececec; }
      main section.location div.infoposition p {
        margin: 0;
        font-size: 16px;
        text-align: center;
        padding: 17px 30px 15px 0; }
        main section.location div.infoposition p i {
          letter-spacing: 14px; }
    main section.location div.titre {
      height: 79%;
      width: 375px;
      margin: auto; }
      main section.location div.titre h1 {
        padding: 16px 56px 9px 47px;
        text-align: center;
        font-size: 24px;
        color: black; }
      main section.location div.titre h2 {
        font-size: 16px;
        padding: 0 17px 2px 31px;
        margin: -22px 0 0 55px;
        line-height: 21px;
        text-indent: -45px; }
      main section.location div.titre button {
        width: 218px;
        padding: 15px;
        margin-left: 81px;
        margin-bottom: 0;
        margin-top: 30px; }
  main section.operation {
    width: 100%;
    height: 369px; }
    main section.operation h2 {
      font-weight: bolder;
      color: black;
      margin: 51px 24px 20px;
      font-size: 22px; }
    main section.operation ul {
      display: grid;
      align-items: start;
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 10px;
      row-gap: 10px;
      margin: 0 4px 0px -14px; }
    main section.operation li {
      list-style-type: none;
      margin: 13px auto; }
      main section.operation li a {
        background-color: #ececec;
        display: inline-flex;
        text-decoration: none;
        height: 67px;
        font-size: 16px;
        margin: -2px 0px -3px 0px;
        width: 329px;
        box-shadow: 0 0 16px #ececec;
        border-radius: 18px;
        white-space: nowrap; }
      main section.operation li .badge {
        display: block;
        background-color: #9356DC;
        border-color: white;
        color: white;
        padding: 3px;
        border-radius: 50%;
        width: 21px;
        height: 19px;
        text-align: center;
        justify-content: center;
        letter-spacing: normal;
        text-indent: 0;
        align-items: center;
        vertical-align: middle;
        pointer-events: none;
        user-select: none;
        margin-left: -11px;
        margin-top: 24px;
        line-height: 24px;
        font-size: 16px; }
      main section.operation li i {
        color: #7E57C2;
        font-size: 17px;
        margin-right: 6px;
        padding: 28px 22px;
        margin-top: 0; }
      main section.operation li p.text1 {
        line-height: 73px;
        margin: 0 1px;
        color: black; }
      main section.operation li p.text2 {
        line-height: 73px;
        margin: 0 -6px;
        color: black; }
      main section.operation li p.text3 {
        line-height: 73px;
        margin: 0px -10px;
        color: black; }
  main section.menu {
    margin-top: 23px;
    height: 1225px;
    display: grid;
    grid-template-rows: auto repeat(5, 1fr);
    row-gap: 18px;
    grid-template-areas: "a";
    background: #ececec; }
    main section.menu header {
      display: block;
      justify-content: left;
      margin: 35px 0 0 19px;
      height: 50px;
      grid-column: 1/-1; }
      main section.menu header h2 {
        font-size: 23px; }
    main section.menu article {
      border-radius: .9rem;
      /*transition-duration: 0.1s;*/
      cursor: pointer;
      box-sizing: border-box;
      margin: 0 auto;
      background-color: white;
      height: 251px;
      width: 335px;
      box-shadow: 0 0 20px #00000026; }
      main section.menu article a {
        text-decoration: none; }
      main section.menu article figure {
        display: block;
        margin: 0; }
        main section.menu article figure img {
          height: 10.9rem;
          object-fit: cover;
          max-width: 100%;
          width: 100%;
          max-height: 100%;
          border-radius: 1rem 1rem 0 0;
          position: relative;
          z-index: 1; }
        main section.menu article figure figcaption {
          margin: 0;
          padding: 4px 14px;
          line-height: 6px; }
          main section.menu article figure figcaption h3 {
            font-size: 17px;
            color: black; }
          main section.menu article figure figcaption p {
            font-size: 17px;
            color: black; }
      main section.menu article figure.new::before {
        color: #008766;
        padding: 7px 12px;
        background-color: #99E2D0;
        content: "Nouveau";
        float: right;
        margin: 13px 11px -43px 0;
        z-index: 2;
        position: relative;
        font-size: 14px;
        border-radius: 2px; }
      main section.menu article a.like {
        float: right;
        font-size: 21px;
        margin: -52px 25px;
        line-height: 0px; }
  @media only screen and (min-width: 768px) {
    main {
      height: auto; }
      main section.menu {
        height: auto;
        padding-bottom: 100px;
        margin-top: 23px;
        grid-template-rows: auto repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 90px;
        grid-template-areas: "a a"; } }
  @media only screen and (min-width: 992px) {
    main section.operation ul li a {
      margin: 0px; } }
  @media only screen and (min-width: 1200px) {
    main {
      width: 1000px;
      height: auto; }
      main section.operation {
        height: 180px; }
        main section.operation ul {
          display: inline-flex;
          margin: 0px 4px 0px -14px;
          column-gap: 62px; }
          main section.operation ul li {
            margin: 13px 0px; }
            main section.operation ul li a {
              /*margin: -2px 0px -3px 0px;*/
              width: 280px;
              /*margin: 33px;*/ }
      main section.menu {
        height: auto;
        padding-bottom: 100px;
        margin-top: 23px;
        grid-template-rows: auto repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 90px;
        /*padding-left: 5%;*/
        grid-template-areas: "a a"; } }

/*# sourceMappingURL=main.css.map */
