@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.template {
  background-image: url("../maquettes/Accueil.png");
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 0.7;
  background-position: top center; }

.template-menu {
  background-image: url("../maquettes/Menu - A la francaise.png");
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 0.7;
  background-position: top center; }

/*@include bg-linear();*/
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeInBg {
  from {
    background-color: white; }
  to {
    background-color: #ececec; } }
@keyframes animation-loader {
  to {
    transform: rotate(1turn); } }
@keyframes fadeOut-loader {
  0% {
    opacity: 1;
    z-index: 1; }
  90% {
    opacity: 1;
    z-index: 1; }
  100% {
    opacity: 0;
    display: none;
    z-index: -2; } }
@keyframes fadeIn-page {
  from {
    opacity: 0;
    z-index: -3; }
  80% {
    opacity: 0;
    z-index: auto; }
  to {
    opacity: 1;
    z-index: auto; } }
section.menu article#starter-dish {
      /*
      a.dish {
        &:nth-child(2) {
          animation-delay: 4.5s;
        }

        &:nth-child(3) {
          animation-delay: 9s;
        }

        &:nth-child(4) {
          animation-delay: 13.5s;
        }
      }
      */ }
  section.menu article#starter-dish a.dish:nth-child(2) {
    animation-delay: 3s; }
  section.menu article#starter-dish a.dish:nth-child(3) {
    animation-delay: 3.5s; }
  section.menu article#starter-dish a.dish:nth-child(4) {
    animation-delay: 4s; }
section.menu article#main-dish {
      /*
      a.dish {
        &:nth-child(2) {
          animation-delay: 6.5s;
        }

        &:nth-child(3) {
          animation-delay: 13s;
        }

        &:nth-child(4) {
          animation-delay: 19.5s;
        }
      }
      */ }
  section.menu article#main-dish a.dish:nth-child(2) {
    animation-delay: 5s; }
  section.menu article#main-dish a.dish:nth-child(3) {
    animation-delay: 5.5s; }
  section.menu article#main-dish a.dish:nth-child(4) {
    animation-delay: 6s; }
section.menu article#dessert-dish {
      /*
      a.dish {
        &:nth-child(2) {
          animation-delay: 8.5s;
        }

        &:nth-child(3) {
          animation-delay: 17s;
        }

        &:nth-child(4) {
          animation-delay: 25.5s;
        }
      }
      */ }
  section.menu article#dessert-dish a.dish:nth-child(2) {
    animation-delay: 7s; }
  section.menu article#dessert-dish a.dish:nth-child(3) {
    animation-delay: 7.5s; }
  section.menu article#dessert-dish a.dish:nth-child(4) {
    animation-delay: 8s; }

a.like {
  text-decoration: none;
  background: none; }
  a.like i.fa-heart {
    user-select: none;
    pointer-events: none;
    font-weight: 400;
    color: black;
    /*background: white;*/
    transition: all 1s linear; }
  a.like:active i.fa-heart, a.like:hover i.fa-heart, a.like:visited i.fa-heart {
    font-weight: 900;
    background: #9356DC;
    background: -moz-linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
    background: -webkit-linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
    background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
    -webkit-background-clip: text;
    /*-moz-background-clip: text;
    background-clip: text;*/
    -webkit-text-fill-color: transparent; }

button {
  border-radius: 30px;
  color: white;
  font-size: 16px;
  border: none;
  background: #9356DC;
  background: -moz-linear-gradient(#FF79DA 0%, #9356DC 100%);
  background: -webkit-linear-gradient(#FF79DA 0%, #9356DC 100%);
  background: linear-gradient(#FF79DA 0%, #9356DC 100%);
  box-shadow: 0 0 20px #00000026;
  cursor: pointer;
  transition: background-color 1s;
  white-space: nowrap; }
  button:hover {
    color: white;
    background: #a16be0;
    background: -moz-linear-gradient(#ff93e1 0%, #a16be0 100%);
    background: -webkit-linear-gradient(#ff93e1 0%, #a16be0 100%);
    background: linear-gradient(#ff93e1 0%, #a16be0 100%);
    box-shadow: 0 0 20px #0000008a; }

.etc {
  /*line-height: 1.6rem;
  max-height: 1.6rem;*/
  max-height: 2.2rem;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  /*Chrome*/
  /*  @supports (display: -webkit-box) {
      display: -webkit-box;
    }*/
  /*Firefox*/
  /* @supports (-moz-box-orient: vertical) {
     -moz-box-orient: vertical;
   }*/
  /*
  @supports (box-orient: vertical) {
    box-orient: vertical;
  }*/ }
@-moz-document url-prefix() {
  .etc {
    display: block; } }
  @supports (-webkit-line-clamp: 1) {
    .etc {
      -webkit-line-clamp: 1; } }
  @supports (-webkit-box-orient: vertical) {
    .etc {
      -webkit-box-orient: vertical; } }

/* IE and Edge */
/*@supports (-ms-ime-align:auto) {*/
@supports (-ms-overflow-style: none) {
  body {
    -ms-overflow-style: none; } }
/* Firefox */
@-moz-document url-prefix() {
  @supports (scrollbar-width: none) {
    body {
      scrollbar-width: none; } } }
/*Chrome & Safari*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body::-webkit-scrollbar {
    display: none;
    width: 0px; } }
body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll; }
  @media only screen and (max-width: 375px) {
    body {
      overflow-x: scroll;
      width: 375px; } }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px; }
  header div#logo {
    margin-top: 14px; }
    header div#logo svg {
      width: 164px;
      height: 41px; }
    header div#logo a {
      float: left;
      margin: 9px -82px;
      font-size: 17px;
      color: black; }

footer {
  /*justify-content: center;*/
  display: flex;
  max-width: 100%;
  /*width: 379px;*/
  /*margin: 31px auto 0;*/
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
  height: 199px;
  background-color: #353535;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0; }
  footer .footer {
    height: 193px;
    padding: 0rem 0; }
    footer .footer h2 {
      font-size: 18px;
      line-height: 16px;
      margin: 26px 23px;
      font-family: 'Shrikhand', cursive;
      color: white; }
    footer .footer .lien {
      display: block;
      margin: 5px 25px;
      text-decoration: none;
      color: white; }
      footer .footer .lien i {
        padding: 10px;
        margin: -3px -1px 1px -10px;
        line-height: 0;
        color: white;
        font-size: 17px; }
  @media only screen and (min-width: 768px) {
    footer .footer {
      margin: auto auto;
      width: 1000px; }
      footer .footer .lien {
        display: inline-block;
        margin: 5px 25px; } }
  @media only screen and (min-width: 1200px) {
    footer .footer .lien:nth-child(2) {
      margin-left: 250px; } }

header, main, footer {
  -webkit-animation-name: fadeIn-page;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: fadeIn-page;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-direction: normal;
  -moz-animation-fill-mode: forwards;
  animation-name: fadeIn-page;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-fill-mode: forwards; }

.loader {
  width: 20em;
  height: 20em;
  font-size: 10px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100px;
  left: calc(50% - 10em);
  -webkit-animation-name: fadeOut-loader;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: fadeOut-loader;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-direction: normal;
  -moz-animation-fill-mode: forwards;
  animation-name: fadeOut-loader;
  animation-delay: 0s;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-fill-mode: forwards;
  /* @include rotate($degrees);*/ }
  .loader .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    -webkit-animation-name: animation-loader;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: animation-loader;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-direction: normal;
    -moz-animation-fill-mode: forwards;
    animation-name: animation-loader;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /*animation-name: animation-loader;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;*/ }
    .loader .face:nth-child(1) {
      width: 100%;
      height: 100%;
      color: #9356DC;
      border-color: currentColor transparent transparent currentColor;
      border-width: 0.2em 0.2em 0em 0em;
      /*--deg: -45deg;*/
      -webkit-animation-direction: normal;
      -moz-animation-direction: normal;
      animation-direction: normal; }
      .loader .face:nth-child(1) .circle {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg); }
    .loader .face:nth-child(2) {
      width: 70%;
      height: 70%;
      color: #FF79DA;
      border-color: currentColor currentColor transparent transparent;
      border-width: 0.2em 0em 0em 0.2em;
      /*--deg: -135deg;*/
      -webkit-animation-direction: reverse;
      -moz-animation-direction: reverse;
      animation-direction: reverse; }
      .loader .face:nth-child(2) .circle {
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        transform: rotate(-135deg); }
    .loader .face .circle {
      position: absolute;
      width: 50%;
      height: 0.1em;
      top: 50%;
      left: 50%;
      background-color: transparent;
      /*transform: rotate(var(--deg));*/
      transform-origin: left; }
      .loader .face .circle::before {
        position: absolute;
        top: -0.5em;
        right: -0.5em;
        content: '';
        width: 1em;
        height: 1em;
        background-color: currentColor;
        border-radius: 50%;
        box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em, 0 0 0 0.5em rgba(255, 255, 0, 0.1); }

main {
  justify-content: center;
  margin: 0 auto;
  background-color: #ececec; }
  main div.image img {
    width: 100%;
    height: 272px;
    object-fit: cover; }
  main section.menu {
    margin-top: -55px;
    height: 1193px;
    display: grid;
    grid-template-rows: auto repeat(3, 1fr);
    row-gap: 18px;
    grid-template-areas: "a";
    position: relative;
    border-radius: 37px 37px 0 0;
    background-color: #ececec;
    -webkit-animation-name: fadeInBg;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: fadeInBg;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 8s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-direction: normal;
    -moz-animation-fill-mode: forwards;
    animation-name: fadeInBg;
    animation-delay: 0s;
    animation-duration: 8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards; }
    main section.menu header.title {
      align-items: flex-start;
      display: flex;
      justify-content: space-between; }
      main section.menu header.title h1 {
        font-size: 26px;
        font-family: 'Shrikhand', cursive;
        margin: 32px 18px;
        text-transform: capitalize;
        white-space: nowrap; }
      main section.menu header.title a.like {
        margin: 34px 36px; }
        main section.menu header.title a.like i {
          font-size: 24px; }
    main section.menu article {
      display: block;
      margin: -13px auto 0px auto; }
      main section.menu article .dish-title {
        display: block; }
        main section.menu article .dish-title h2 {
          font-size: 15px;
          text-transform: capitalize; }
        main section.menu article .dish-title hr {
          width: 37px;
          text-align: left;
          position: absolute;
          border-color: #99E2D0;
          border-width: 1px;
          margin-top: -4px; }
      main section.menu article .checked {
        text-decoration: none; }
      main section.menu article a.dish.checked div.content {
        width: calc(100% - 130px); }
      main section.menu article a.dish {
        display: flex;
        background-color: white;
        width: 350px;
        height: 70px;
        margin-left: 15px;
        margin-top: -9px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px #00000026;
        text-decoration: none;
        overflow: hidden;
        cursor: grab;
        -webkit-animation-name: fadeIn;
        -webkit-animation-delay: 0s;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease;
        -webkit-animation-direction: normal;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-name: fadeIn;
        -moz-animation-delay: 0s;
        -moz-animation-duration: 2s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: ease;
        -moz-animation-direction: normal;
        -moz-animation-fill-mode: forwards;
        animation-name: fadeIn;
        animation-delay: 0s;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-direction: normal;
        animation-fill-mode: forwards;
        /*animation-name: fadeIn;
        animation-duration: 2s;
        animation-fill-mode: forwards;*/
        opacity: 0; }
        main section.menu article a.dish span.check {
          position: relative;
          min-height: 100%;
          width: 71px;
          background-color: #99E2D0;
          color: #99E2D0;
          left: 71px; }
          main section.menu article a.dish span.check i {
            padding: 3px;
            background-color: white;
            border-radius: 50%;
            font-size: 14px;
            position: absolute;
            top: 26px;
            left: 20px;
            -webkit-transform: rotate(-720deg);
            -moz-transform: rotate(-720deg);
            transform: rotate(-720deg); }
            @supports (-webkit-transition: all 1s ease) {
              main section.menu article a.dish span.check i {
                -webkit-transition: all 1s ease; } }
            @supports (-moz-transition: all 1s ease) {
              main section.menu article a.dish span.check i {
                -moz-transition: all 1s ease; } }
        main section.menu article a.dish div.content {
          width: 100%;
          height: 100%; }
          @supports (-webkit-transition: all 1s ease) {
            main section.menu article a.dish div.content {
              -webkit-transition: all 1s ease; } }
          @supports (-moz-transition: all 1s ease) {
            main section.menu article a.dish div.content {
              -moz-transition: all 1s ease; } }
          main section.menu article a.dish div.content h3 {
            color: black;
            line-height: 1;
            margin: 14px 11px;
            font-size: 17px;
            white-space: nowrap; }
          main section.menu article a.dish div.content p {
            line-height: 3;
            margin: -19px 10px;
            font-size: 15.25px;
            letter-spacing: 0px;
            color: #606060;
            max-width: 260px; }
          main section.menu article a.dish div.content strong {
            margin: 0px -45px;
            float: right;
            font-size: 14px;
            color: black; }
        main section.menu article a.dish:hover div.content {
          width: calc(100% - 130px); }
        main section.menu article a.dish:hover span.check i {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          transform: rotate(0deg); }
    main section.menu article#starter-dish .dish-title {
      margin: 33px 23px; }
    main section.menu article#main-dish .dish-title {
      margin: -36px 21px 34px; }
    main section.menu article#dessert-dish .dish-title {
      margin: -85px 23px 35px; }
    main section.menu button {
      /*width: 49%;*/
      width: 184px;
      height: 50px;
      padding: 18px;
      /*margin-left: 97px;*/
      margin: -130px auto 78px auto; }
  main section.menu.mn4 article {
    margin: 2px auto 0px auto; }
  main section.menu.mn4 button {
    margin: -112px auto 28px auto; }
  @media only screen and (min-width: 1200px) {
    main {
      width: 1178px; }
      main section.menu {
        height: auto;
        display: grid;
        grid-template-rows: auto repeat(1, 1fr);
        grid-template-columns: auto repeat(3, 1fr);
        grid-template-areas: "a a a";
        column-gap: 2rem;
        row-gap: 12rem; }
        main section.menu header.title {
          grid-column: 1/-1; }
        main section.menu article {
          margin: 0; }
          main section.menu article .dish-title {
            margin: 34px 23px !important; }
        main section.menu button {
          grid-column: 1/-1;
          margin: 0 auto 78px; } }

/*# sourceMappingURL=main1.css.map */
