$initial-delay: 3;
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInBg {
  from {
    background-color: white;
  }
  to {
    background-color: $bg-color-1;
  }
}

@keyframes animation-loader {
  to {
    transform: rotate(1turn);
  }
}

@keyframes fadeOut-loader {
  0% {
    opacity: 1;
    z-index: 1;
  }
  90% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -2;
  }
}


@keyframes fadeIn-page {
  from {
    opacity: 0;
    z-index: -3;
  }
  80% {
    opacity: 0;
    z-index: auto;
  }
  to {
    opacity: 1;
    z-index: auto;
  }
}

section.menu {
  $delay: $initial-delay;
  $articles: starter-dish, main-dish, dessert-dish;
  @each $idArticle in $articles {
    article#{ '#' + $idArticle } {

      @for $iLink from 2 through 4 {
        a.dish {
          &:nth-child(#{$iLink}) {
            animation-delay: #{ $delay }s;
          }
        }
        $delay: $delay + 0.5;
      }
      /*
      a.dish {
        &:nth-child(2) {
          animation-delay: #{ $delay * 1}s;
        }

        &:nth-child(3) {
          animation-delay: #{ $delay * 2}s;
        }

        &:nth-child(4) {
          animation-delay: #{ $delay * 3}s;
        }
      }
      */
      $delay: $delay + 0.5;
    }
  }
}

a.like {
  text-decoration: none;
  background: none;

  i.fa-heart {
    user-select: none;
    pointer-events: none;
    font-weight: 400;
    color: black;
    /*background: white;*/
    transition: all 1s linear;
  }

  &:active, &:hover, &:visited {
    i.fa-heart {
      font-weight: 900;
      @include bg-linear($color-secondary, $color-primary, true);
      -webkit-background-clip: text;
      /*-moz-background-clip: text;
      background-clip: text;*/
      -webkit-text-fill-color: transparent;
    }
  }
}

button {
  border-radius: 30px;
  color: white;
  font-size: 16px;
  border: none;
  @include bg-linear($color-secondary, $color-primary);

  box-shadow: 0 0 20px #00000026;
  cursor: pointer;
  transition: background-color 1s;
  white-space: nowrap;

  &:hover {
    color: white;
    @include bg-linear(lighten($color-secondary, 5%), lighten($color-primary, 5%));
    box-shadow: 0 0 20px #0000008a;
  }
}

.etc {
  /*line-height: 1.6rem;
  max-height: 1.6rem;*/
  max-height: 2.2rem;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  /*Chrome*/
/*  @supports (display: -webkit-box) {
    display: -webkit-box;
  }*/
  /*Firefox*/
  @-moz-document url-prefix() {
    display: block;
  }

  @supports (-webkit-line-clamp: 1) {
    -webkit-line-clamp: 1;
  }
  @supports (-webkit-box-orient: vertical) {
    -webkit-box-orient: vertical;
  }
  /* @supports (-moz-box-orient: vertical) {
     -moz-box-orient: vertical;
   }*/
  /*
  @supports (box-orient: vertical) {
    box-orient: vertical;
  }*/
}

