footer {
  /*justify-content: center;*/
  display: flex;
  max-width: 100%;
  /*width: 379px;*/
  /*margin: 31px auto 0;*/
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
  height: 199px;
  background-color: #353535;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;

  .footer {
    height: 193px;
    padding: 0rem 0;

    h2 {
      font-size: 18px;
      line-height: 16px;
      margin: 26px 23px;
      font-family: 'Shrikhand', cursive;
      color: white;
    }

    .lien {
      display: block;
      margin: 5px 25px;
      text-decoration: none;
      color: white;

      i {
        padding: 10px;
        margin: -3px -1px 1px -10px;
        line-height: 0;
        color: white;
        font-size: 17px;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .footer {
      margin: auto auto;
      width: 1000px;

      h2 {
      }

      .lien {
        display: inline-block;
        margin: 5px 25px;
      }

    }
  }
  @media only screen and (min-width: 1200px) {
    .footer {

      h2 {
      }

      .lien {
      }

      .lien:nth-child(2) {
        margin-left: 250px;
      }
    }
  }
}

