/* IE and Edge */
/*@supports (-ms-ime-align:auto) {*/
@supports (-ms-overflow-style: none) {
  body {
    -ms-overflow-style: none;
  }
}

/* Firefox */
@-moz-document url-prefix() {
  @supports (scrollbar-width: none) {
    body {
      scrollbar-width: none;
    }
  }
}

/*Chrome & Safari*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body::-webkit-scrollbar {
    display: none;
    width: 0px;
  }
}

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;


  @media only screen and (max-width: 375px) {
    overflow-x: scroll;
    width: 375px;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;

  div#logo {
    margin-top: 14px;

    svg {
      width: 164px;
      height: 41px;
    }

    a {
      float: left;
      margin: 9px -82px;
      font-size: 17px;
      color: black;
    }
  }
}





