
header, main, footer {
  @include animation(fadeIn-page, 0s, 2s, 1);
}


.loader {
  width: 20em;
  height: 20em;
  font-size: 10px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100px;
  left: calc(50% - 10em);
  @include animation(fadeOut-loader, 0s, 1.5s, 1, ease, normal, forwards);
  /* @include rotate($degrees);*/

  .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    @include animation(animation-loader, 0s, 3s, 1, linear);
    /*animation-name: animation-loader;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;*/

    &:nth-child(1) {
      width: 100%;
      height: 100%;
      color: $color-primary;
      border-color: currentColor transparent transparent currentColor;
      border-width: 0.2em 0.2em 0em 0em;
      /*--deg: -45deg;*/
      @include animation-direction(normal);
      .circle {
        @include rotate(-45);
      }
    }

    &:nth-child(2) {
      width: 70%;
      height: 70%;
      color: $color-secondary;
      border-color: currentColor currentColor transparent transparent;
      border-width: 0.2em 0em 0em 0.2em;
      /*--deg: -135deg;*/
      @include animation-direction(reverse);

      .circle {
        @include rotate(-135);
      }
    }

    .circle {
      position: absolute;
      width: 50%;
      height: 0.1em;
      top: 50%;
      left: 50%;
      background-color: transparent;
      /*transform: rotate(var(--deg));*/
      transform-origin: left;

      &::before {
        position: absolute;
        top: -0.5em;
        right: -0.5em;
        content: '';
        width: 1em;
        height: 1em;
        background-color: currentColor;
        border-radius: 50%;
        box-shadow: 0 0 2em,
        0 0 4em,
        0 0 6em,
        0 0 8em,
        0 0 10em,
        0 0 0 0.5em rgba(255, 255, 0, 0.1);
      }
    }
  }
}



