@mixin crossBrowser($property, $css) {
  -webkit-#{$property} : $css;
  -moz-#{$property} : $css;
  $property: $css;
}

@mixin crossBrowserSup($property, $css) {
  @supports (-webkit-#{$property} : $css) {
    -webkit-#{$property} : $css;
  }
  @supports (-moz-#{$property} : $css) {
    -moz-#{$property} : $css;
  }
  @supports ($property : $css) {
    $property: $css;
  }
}

@mixin animation($animation, $delay, $duration, $iteration: infinite, $timingFn: ease, $direction: normal, $fillMode: forwards) {
  -webkit-animation-name: $animation;
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
  -webkit-animation-timing-function: $timingFn;
  -webkit-animation-direction: $direction;
  -webkit-animation-fill-mode: $fillMode;

  -moz-animation-name: $animation;
  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-iteration-count: $iteration;
  -moz-animation-timing-function: $timingFn;
  -moz-animation-direction: $direction;
  -moz-animation-fill-mode: $fillMode;

  animation-name: $animation;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-iteration-count: $iteration;
  animation-timing-function: $timingFn;
  animation-direction: $direction;
  animation-fill-mode: $fillMode;

}

@mixin rotate( $degrees ) {
  -webkit-transform: rotate(#{$degrees}deg);
  -moz-transform: rotate(#{$degrees}deg);
  transform: rotate(#{$degrees}deg);
}

@mixin animation-direction($direction: normal) {
  -webkit-animation-direction: $direction;
  -moz-animation-direction: $direction;
  animation-direction: $direction;
}

@mixin bg-linear($color1, $color2,$bottom: false) {
  background: $color2;
  @if $bottom {
    background: -moz-linear-gradient(to bottom, $color1 0%, $color2 100%);
    background: -webkit-linear-gradient(to bottom, $color1 0%, $color2 100%);
    background: linear-gradient(to bottom, $color1 0%, $color2 100%);
  } @else {
    background: -moz-linear-gradient($color1 0%, $color2 100%);
    background: -webkit-linear-gradient($color1 0%, $color2 100%);
    background: linear-gradient($color1 0%, $color2 100%);
  }
}

/*@include bg-linear();*/

