
.template {
  background-image: url("../maquettes/Accueil.png");
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 0.7;
  background-position: top center;
}

.template-menu {
  background-image: url("../maquettes/Menu - A la francaise.png");
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 0.7;
  background-position: top center;
}
