@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "template";
@import "color";
@import "mixin";
@import "anim";
@import "header";
@import "footer";
@import "loader";


main {
  justify-content: center;
  height: 1973px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  section.location {
    width: 100%;
    height: 335px;
    background-color: $bg-color-2;

    div.infoposition {
      height: 50px;
      background-color: $bg-color-1;

      p {
        margin: 0;
        font-size: 16px;
        text-align: center;
        padding: 17px 30px 15px 0;

        i {
          letter-spacing: 14px;
        }
      }

    }

    div.titre {
      height: 79%;
      width: 375px;
      margin: auto;

      h1 {
        padding: 16px 56px 9px 47px;
        text-align: center;
        font-size: 24px;
        color: black;
      }

      h2 {
        font-size: 16px;
        padding: 0 17px 2px 31px;
        margin: -22px 0 0 55px;
        line-height: 21px;
        text-indent: -45px;
      }

      button {
        width: 218px;
        padding: 15px;
        margin-left: 81px;
        margin-bottom: 0;
        margin-top: 30px;
      }
    }


  }

  section.operation {
    width: 100%;
    height: 369px;


    h2 {
      font-weight: bolder;
      color: black;
      margin: 51px 24px 20px;
      font-size: 22px;
    }

    ul {

      display: grid;
      align-items: start;
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 10px;
      row-gap: 10px;
      margin: 0 4px 0px -14px;

    }

    li {
      list-style-type: none;
      margin: 13px auto;

      a {
        background-color: $bg-color-1;
        display: inline-flex;
        text-decoration: none;
        height: 67px;
        font-size: 16px;
        margin: -2px 0px -3px 0px;
        width: 329px;
        box-shadow: 0 0 16px $bg-color-1;
        border-radius: 18px;
        white-space: nowrap;

      }

      .badge {
        display: block;
        background-color: #9356DC;
        border-color: white;
        color: white;
        padding: 3px;
        border-radius: 50%;
        width: 21px;
        height: 19px;
        text-align: center;
        justify-content: center;
        letter-spacing: normal;
        text-indent: 0;
        align-items: center;
        vertical-align: middle;
        pointer-events: none;
        user-select: none;
        margin-left: -11px;
        margin-top: 24px;
        line-height: 24px;
        font-size: 16px;
      }

      i {
        color: #7E57C2;
        font-size: 17px;
        margin-right: 6px;
        padding: 28px 22px;
        margin-top: 0;
      }

      p.text1 {
        line-height: 73px;
        margin: 0 1px;
        color: $bg-color-3;
      }

      p.text2 {
        line-height: 73px;
        margin: 0 -6px;
        color: $bg-color-3;
      }

      p.text3 {
        line-height: 73px;
        margin: 0px -10px;
        color: $bg-color-3;
      }
    }
  }

  section.menu {
    margin-top: 23px;
    height: 1225px;
    display: grid;
    grid-template-rows: auto repeat(5, 1fr);
    row-gap: 18px;

    grid-template-areas: "a";
    background: $bg-color-1;

    header {
      display: block;
      justify-content: left;
      margin: 35px 0 0 19px;
      height: 50px;
      grid-column: 1/-1;

      h2 {
        font-size: 23px;
      }
    }

    article {

      border-radius: .9rem;
      /*transition-duration: 0.1s;*/
      cursor: pointer;
      box-sizing: border-box;
      margin: 0 auto;
      background-color: white;
      height: 251px;
      width: 335px;
      box-shadow: 0 0 20px #00000026;

      a {
        text-decoration: none;
      }

      figure {
        display: block;
        margin: 0;

        img {
          height: 10.9rem;
          object-fit: cover;
          max-width: 100%;
          width: 100%;
          max-height: 100%;
          border-radius: 1rem 1rem 0 0;
          position: relative;
          z-index: 1;
        }


        figcaption {
          margin: 0;
          padding: 4px 14px;
          line-height: 6px;

          h3 {
            font-size: 17px;
            color: black;
          }

          p {
            font-size: 17px;
            color: black;
          }
        }
      }

      figure.new::before {
        color: #008766;
        padding: 7px 12px;
        background-color: #99E2D0;
        content: "Nouveau";
        float: right;
        margin: 13px 11px -43px 0;
        z-index: 2;
        position: relative;
        font-size: 14px;
        border-radius: 2px;
      }

      a.like {
        float: right;
        font-size: 21px;
        margin: -52px 25px;
        line-height: 0px;
      }
    }

  }

  @media only screen and (min-width: 768px) {
    height: auto;
    section.menu {
      height: auto;
      padding-bottom: 100px;
      margin-top: 23px;
      grid-template-rows: auto repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      row-gap: 90px;
      grid-template-areas: "a a";
    }
  }
  @media only screen and (min-width: 992px) {
    section.operation {
      ul {
        li {
          a {
            margin: 0px;
          }
        }
      }
    }
  }
  @media only screen and (min-width: 1200px) {
    width: 1000px;

    height: auto;
    section.operation {
      height: 180px;

      ul {
        display: inline-flex;
        margin: 0px 4px 0px -14px;
        column-gap: 62px;

        li {
          margin: 13px 0px;

          a {
            /*margin: -2px 0px -3px 0px;*/
            width: 280px;
            /*margin: 33px;*/
          }
        }
      }
    }

    section.menu {
      height: auto;
      padding-bottom: 100px;
      margin-top: 23px;
      grid-template-rows: auto repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      row-gap: 90px;
      /*padding-left: 5%;*/
      grid-template-areas: "a a";
    }
  }
}







