@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "template";
@import "color";
@import "mixin";
@import "anim";
@import "header";
@import "footer";
@import "loader";


main {
  justify-content: center;
  margin: 0 auto;
  background-color: $bg-color-1;

  div.image {
    img {
      width: 100%;
      height: 272px;
      object-fit: cover;

    }

  }


  section.menu {
    margin-top: -55px;
    height: 1193px;
    display: grid;
    grid-template-rows: auto repeat(3, 1fr);
    row-gap: 18px;
    grid-template-areas: "a";
    position: relative;
    border-radius: 37px 37px 0 0;
    background-color: $bg-color-1;
    @include animation(fadeInBg, 0s, 8s, 1, linear, normal, forwards);

    header.title {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;

      h1 {
        font-size: 26px;
        font-family: 'Shrikhand', cursive;
        margin: 32px 18px;
        text-transform: capitalize;
        white-space: nowrap;

      }

      a.like {
        i {
          font-size: 24px;
        }

        margin: 34px 36px;
      }
    }


    article {
      display: block;
      margin: -13px auto 0px auto;

      .dish-title {
        display: block;

        h2 {
          font-size: 15px;
          text-transform: capitalize;
        }

        hr {
          width: 37px;
          text-align: left;
          position: absolute;
          border-color: $color-tertiary;
          border-width: 1px;
          margin-top: -4px;
        }
      }

      .checked {
        text-decoration: none;
      }

      a.dish.checked {
        div.content {
          width: calc(100% - 130px);
        }

      }

      a.dish {
        display: flex;
        background-color: white;
        width: 350px;
        height: 70px;
        margin-left: 15px;
        margin-top: -9px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px #00000026;
        text-decoration: none;
        overflow: hidden;
        cursor: grab;
        @include animation(fadeIn, 0s, 2s, 1);
        /*animation-name: fadeIn;
        animation-duration: 2s;
        animation-fill-mode: forwards;*/
        opacity: 0;

        span.check {
          position: relative;
          min-height: 100%;
          width: 71px;
          background-color: $color-tertiary;
          color: $color-tertiary;
          left: 71px;

          i {
            padding: 3px;
            background-color: white;
            border-radius: 50%;
            font-size: 14px;
            position: absolute;
            top: 26px;
            left: 20px;
            @include crossBrowserSup(transition, all 1s ease);
            @include rotate(-720);
          }
        }

        div.content {
          width: 100%;
          height: 100%;
          @include crossBrowserSup(transition, all 1s ease);

          h3 {
            color: black;
            line-height: 1;
            margin: 14px 11px;
            font-size: 17px;
            white-space: nowrap;

          }

          p {
            line-height: 3;
            margin: -19px 10px;
            font-size: 15.25px;
            letter-spacing: 0px;
            color: #606060;
            max-width: 260px;

          }

          strong {
            margin: 0px -45px;
            float: right;
            font-size: 14px;
            color: black;
          }
        }

        &:hover {
          div.content {
            width: calc(100% - 130px);
          }

          span.check {
            i {
              @include rotate(0);
            }
          }
        }
      }
    }

    article#starter-dish {
      .dish-title {
        margin: 33px 23px;
      }
    }

    article#main-dish {
      .dish-title {
        margin: -36px 21px 34px;
      }
    }

    article#dessert-dish {
      .dish-title {
        margin: -85px 23px 35px;
      }
    }

    button {
      /*width: 49%;*/
      width: 184px;
      height: 50px;
      padding: 18px;
      /*margin-left: 97px;*/
      margin: -130px auto 78px auto;
    }

  }

  section.menu.mn4 {
    article {
      margin: 2px auto 0px auto;
    }

    button {
      margin: -112px auto 28px auto;
    }
  }

  @media only screen and (min-width: 768px) {

  }
  @media only screen and (min-width: 992px) {

  }
  @media only screen and (min-width: 1200px) {
    width: 1178px;
    section.menu {
      height: auto;
      display: grid;
      grid-template-rows: auto repeat(1, 1fr);
      grid-template-columns: auto repeat(3, 1fr);
      grid-template-areas: "a a a";
      column-gap: 2rem;
      row-gap: 12rem;

      header.title {
        grid-column: 1/-1;
      }

      article {
        margin: 0;

        .dish-title {
          margin: 34px 23px !important;
        }
      }

      button {
        grid-column: 1/-1;
        margin: 0 auto 78px;
      }
    }
  }
}

